*{
    box-sizing: border-box;
    margin: 0px;
    /* background: red; */
}

html{
    width: 100vw;
}

body{
    width: 100vw;
}

.main-container {
    width: 100vw;
}

.bar-container {
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
}